html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 26, 46);
    color: rgb(190, 190, 190);
    box-sizing: border-box;
}

/* next.js container */
#__next {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-areas: ". . ." ". content ." ". . .";
    grid-template-columns: minmax(1rem, auto) minmax(55%, calc(65rem + 4vw))
        minmax(1rem, auto);
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
    /* justify-items: center; */
}
